.headermain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1vh;
    width: 185px;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header a{
    padding: 15px;
    background-color: #F5CDA7;
    border-radius: 4px;
    margin: 5px 0 5px 0;
    color: #272727;
}

.header a:first-child{
    margin-top: 15px;
}

.footer{
    /* position: absolute;
    bottom: 0; */
    /* padding: 5vh; */
    display: flex;
    margin-bottom: 15px;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.footer a{
    background-color: #272727;
    padding: 9px;
    margin: 3px;
    border-radius: 4px;
}