.App {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  text-decoration: none;
}
.contentBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 7px;
}
.subBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border-radius: 4px;
  margin: 15px 0;
  flex: auto;
  position: relative;
}
.subBox div{
  width: 70%;
}

.buttonContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textBox div{
  text-align: start;
  width: 100%;
}

button {
  background-color: #F5CDA7;
  padding: 9px;
  border: 1px solid #F5CDA7;
  border-radius: 4px;
}