.App {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  text-decoration: none;
}
.contentBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 7px;
}
.subBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  border-radius: 4px;
  margin: 15px 0;
  flex: auto;
}

.buttonContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 50px;
}

.textBox{
  width: 70%;
}

.textBox div{
  text-align: start;
}

.yearBox {
  display: flex;
  align-items: center;
  border: 0px !important;
  width: auto !important;
}

.yearBox h3{
  color: #1d814c;
}
.yearBox h4{
  color: #1d814c5d;
  margin-left: 5px;
}

.textContent{
  display: flex;
}

.textContextText{
  overflow: auto;
  height: 46vh;
  padding: 25px;
}

.textContent div {
  width: 50%;
  border: 5px solid #1d814c;
  border-radius: 4px;
  margin: 5px;
}

.introContent {
  background-color: #272727;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 4px;
  margin: 15px 0;
}

button {
  background-color: #F5CDA7;
  padding: 12px;
  border: 1px solid #F5CDA7;
  border-radius: 4px;
}